.FeedModule {
  width: 32%;
  margin: auto;
  padding-left: 2.5%;
  font-size: 14px;
}

.fetchMoreRideFeedBtn {
  width: 100%;
  border-radius: 5px;
  background-color: #9e9e9e;
  line-height: 20px;
  font-size: 15px;
  color: white;
  cursor: pointer;
  margin-bottom: 50px;
}

.head {
  margin: auto auto 5px auto;
  height: 20px;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  line-height: 20px;
}

.seats {
  display: inline-block;
  width: 50px;
}

.from {
  display: inline-block;
  width: 120px;
}

.to {
  display: inline-block;
  width: 120px;
}

.date {
  display: inline-block;
  width: 90px;
}

.price {
  display: inline-block;
  width: 30px;
}

.divider {
  display: inline-block;
  /*width: 8%;*/
}

.cancelFilterBox {
  margin: auto auto 5px auto;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  background-color: #ff4350;
  color: white;
  margin: auto auto 5px auto;
  height: 16px;
  border: 1px solid #e4e4e4;
  padding: 3px;
}

.cancelFilterBtn {
  border: none;
  cursor: pointer;
  font-size: 13px;
  color: white;
  padding: unset;
  margin-left: 5px;
  /* line-height: 12px; */
  background-color: #ff4350;
  float: right; 
}

@media (min-width: 320px) and (max-width: 480px) {

  .FeedModule {
    width: 96%;
    margin-top: 5px;
    margin-right: unset;
    padding: 2%;
    margin-left: unset;
  }

  .head {
    display: none;
  }
}