.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background-color: #8cd2ff;
  border-bottom: 1px solid #e4e4e4;
}

.topDivider {
  display: block;
  right: 0;
  left: 0;
  margin-bottom: 5px;
}

.botDivider {
  display: block;
  right: 0;
  left: 0;
  margin-bottom: 5px;
}

.logo {
  display: inline-block;
  font-weight: 700;
  margin-left: 16%;
  color: white;
  cursor: pointer;
  font-size: 30px;
}

.userBtn {
  float: right;
  margin-right: 1%;
  line-height: 20px;
  cursor: pointer;
}

.userBtn:hover .username {
  text-decoration: underline;
}

.profilePicBox {
  display: inline-block;
}

.profilePic {
  width: 35px;
  height: 35px;
  border-radius: 35px;
}

.username {
  display: inline-block;
  vertical-align: top;
  line-height: 36px;
  margin-right: 5px;
  color: white;
}
.notiBtnDesktopBox {
  float: right;
  border: none;
  margin-right: 16%;
}

.notiBtnDesktop {
  width: 32px;
  height: 34px;
  cursor: pointer;
}

.notiBtnMobileBox {
  background-color: #8cd2ff;
  float: right;
  border: none;
  margin-right: 16%;
}

.notiBtnMobile {
  width: 32px;
  height: 34px;
}

@media (min-width: 320px) and (max-width: 480px) {
  
  .header {
  }

  .userBtn {
    margin-right: 0.5%;
  }

  .username {
    display: none;
  }

  .notiBtnDesktopBox {
    margin-right: 3%;
  }

  .logo {
    margin-left: 3%;
  }

  .botDivider {
    display: none;
  }
  
}
