@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.FeedModuleEntry {
  margin: auto auto 5px auto;
  height: 35px;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  line-height: 35px;
  cursor: pointer;
}

.FeedModuleEntryExpanded {
  /*height: 250px;*/
  padding: 10px;
  margin: auto auto 5px auto;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  background-color: white;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
  animation: fadeIn 1s ease;
}

.seats {
  display: inline-block;
  width: 50px;
}

.from {
  display: inline-block;
  width: 120px;
}

.to {
  display: inline-block;
  width: 120px;
}

.date {
  display: inline-block;
  width: 90px;
}

.price {
  display: inline-block;
  width: 30px;
}

.rideInfo {
  font-size: 20px;
}

.head {
  font-size: 16px;
  font-weight: 700;
}

.entry {
  padding-left: 10px;
}

.joinBtn {
  width: 100%;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  height: 38px;
  color: white;
  background-color: #5a6978; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.expandBtn {
  float: right;
}

.seatsExpanded {
  font-size: 13px;
}

.divider {
  width: 100%;
  border-bottom: 1px solid gray;
}

.margin {
  height: 5px;
}
