.outerModal {
  display: grid;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.innerModal {
  width: 30%;
  margin: auto;
  background-color: white;
  padding: 1%;
}

.closeBtn {
  float: right;
  font-size: 25px;
  border: none;
  padding: unset;
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 480px) {

  .innerModal {
    width: 90%;
  }

}