.MyAccountFeed {
  position: relative;
  /*text-align: center;*/
  margin-top: 20px;
}

.leftBtn {
  position: absolute;
  font-size: 30px;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  cursor: pointer;
  line-height: 220px;
  color: gray;
}

.rightBtn {
  position: absolute;
  font-size: 30px;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
  line-height: 220px;
  color: gray;
}

.leftBtn:hover {
  color: black;
}

.rightBtn:hover {
  color: black;
}