.UpcomingFeed {
  background-color: white;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  width: 20%;
  position: fixed;
  right: 0;
  top: 0;
  margin-right: 10%;
  margin-top: 85px;
  padding: 10px;
}

.head {
  font-weight: 600;
  opacity: 0.6;
}

.divider {
  width: 100%;
  border-bottom: 1px solid silver;
}

.rideHead {
  color: #477a9b;
}

.driveHead {
  color: #f7b400;
}

@media (min-width: 320px) and (max-width: 480px) {

  .UpcomingFeed {
    position: relative;
    top: unset;
    right: unset;
    width: 96%;
    margin-top: 50px;
    margin-right: unset;
    padding: 2%;
  }
}